@import url(https://fonts.googleapis.com/css?family=Anton|Mitr|Roboto);@import url(https://fonts.googleapis.com/css?family=Niramit|Noto+Sans|Philosopher|Varela+Round|Lalezar);@font-face {
  font-family: UTMAVO;
  src: url("../fonts/utm-avo.ttf");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif !important;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover, a:active {
  text-decoration: none !important;
}

img {
  width: 100%;
}

.card {
  border: none;
  background-color: inherit;
  border-radius: 0;
}

.card .card-body {
  padding: 0;
}

.card .card-footer {
  padding: 0;
  background-color: inherit;
  border: none;
}

.callback {
  position: fixed;
  left: -30px;
  bottom: -20px;
  z-index: 100;
}

.phone_animation {
  background-color: transparent;
  width: 200px;
  height: 200px;
  cursor: pointer;
  z-index: 200000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility .5s;
  transition: visibility .5s;
  visibility: visible;
  margin: 0 auto;
}

.phone_animation a {
  color: white;
}

.phone_animation_circle {
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  opacity: 0.5;
  -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
          animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-color: #00aff2;
}

.phone_animation_circle_fill {
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
  position: absolute;
  background-color: #00aff2;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .2;
  -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
          animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.phone_animation_circle_fill_img {
  background-size: 70%;
  width: 60px;
  height: 60px;
  top: 70px;
  left: 70px;
  position: absolute;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
          animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  background-color: #00afef;
  text-align: center;
  line-height: 60px;
  color: #FFF;
  font-size: 30px;
  display: block;
}

@-webkit-keyframes coccoc-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: .1;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: .5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: .1;
  }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: .2;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2;
  }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}

.m-category-layout {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.m-category-layout .m-item-category {
  -ms-flex-preferred-size: 160px !important;
      flex-basis: 160px !important;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.m-category-layout .m-item-category .img-category {
  height: 88px;
  width: 88px;
  margin: auto auto 12px;
  border-radius: 50%;
  margin-top: 20px;
}

.m-category-layout .m-item-category .m-item-category-0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.m-category-layout .m-item-category .m-item-category-0 a {
  text-align: center;
}

.m-category-layout .m-item-category .m-item-category-0 a span {
  width: 100%;
  display: block;
}

@media screen and (max-width: 768px) {
  .m-category-layout {
    margin-top: 30px;
  }
}

/* Sidebar
-----------------------------------------------------------------------------------------*/
.menusign {
  display: block;
  width: 10px;
  line-height: .3;
  font-size: 2em;
  margin: .5em;
}

.menusign br {
  height: 0;
}

.sidebar {
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  height: 100%;
  width: 260px;
  background: white;
  -webkit-transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s, -webkit-box-shadow 0.3s ease 0.2s;
  -webkit-box-shadow: 0.5em 0 0 0 #f2b142, 0.6em 0 0 0 #f2b142;
  box-shadow: 0.5em 0 0 0 #f2b142, 0.6em 0 0 0 #f2b142;
}

.sidebar.closed {
  left: -260px;
  -webkit-box-shadow: 0 0 0 #1ba8ff;
  box-shadow: 0 0 0 #1ba8ff;
}

.sidebar h2 {
  padding: .5em;
  color: #1abc9c;
}

.sidebar ul {
  padding: 0;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0;
}

.sidebar ul li {
  width: 90%;
  margin: 5px 10px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: bolder;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 3px 6px;
  font-size: 16px;
  line-height: 1.8;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #f3f3f3;
}

.sidebar .sidebar-sub-heading {
  border-top: 1px solid #e0e0e0;
  color: #757575;
  display: block;
  padding: 16px;
  font-size: 16px;
  font-weight: bolder;
}

.sidebar .sidebar-hotline {
  font-size: 16px;
  font-weight: bolder;
  padding: 16px;
  color: #757575;
}

.sidebar .sidebar-hotline .sidebar-number {
  color: #1ba8ff;
}

.sidebar .icon-sidebar {
  width: 56px;
}

.sidebar ul li a {
  color: #757575;
  text-decoration: none;
}

.sidebar .background-sidebar {
  background-image: url(../images/logo/logo_footer.png);
  height: calc(56px*4);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: white;
}

.footer a {
  color: #17a689;
}

/* Blurred class

This class is added to the container
(#blurMe) when the sidebar is open.
-----------------------------------*/
.blurred {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Logo effect
-----------------------------*/
@-webkit-keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}

@keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}

#menu {
  -webkit-box-shadow: 0px 0px 3px #1b1e21;
          box-shadow: 0px 0px 3px #1b1e21;
}

#menu .top-info {
  background-color: #ba0000;
  color: white;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#menu .top-info i {
  font-size: 13px;
}

#menu .logo-menu img.logo {
  width: 286px;
  height: auto;
}

#menu .logo-menu .menu-top ul {
  list-style-type: none;
}

#menu .logo-menu .menu-top ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}

#menu .logo-menu .menu-top ul li .sub-menu {
  background-color: #fff;
  position: absolute;
  z-index: 0;
  top: 120%;
  left: 0;
  padding-top: 28px;
  padding-bottom: 8px;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

#menu .logo-menu .menu-top ul li .sub-menu ul {
  margin: auto;
}

#menu .logo-menu .menu-top ul li .sub-menu ul li {
  min-width: 200px;
  border-bottom: 1px solid #7a7a7a;
  margin: 0px 3px;
}

#menu .logo-menu .menu-top ul li .sub-menu ul li a {
  min-width: 100px;
}

#menu .logo-menu .menu-top ul li a {
  color: #1b1e21;
  font-size: 15px;
  padding: 10px 16px;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: bold;
}

#menu .logo-menu .menu-top ul li a:hover {
  color: #ba0000;
}

#menu .logo-menu .menu-top ul li a.active {
  color: #ba0000;
}

#menu .logo-menu .menu-top ul li.dich-vu-overlay:hover .sub-menu {
  top: 100%;
  z-index: 12;
  opacity: 1;
}

#h_1 {
  padding-top: 38px;
  padding-bottom: 38px;
}

#h_1 h5 {
  color: #ba0000;
  margin-bottom: 20px;
}

#h_1 ul {
  list-style-type: none;
}

#h_1 ul li {
  margin-bottom: 10px;
}

#h_1 ul li a {
  padding-left: 20px;
  color: #1b1e21;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_1 ul li a:hover {
  color: #ba0000;
}

#h_1 h1 {
  font-size: 28px;
  font-weight: bold;
  position: relative;
  padding-left: 20px;
}

#h_1 h1 span {
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

#h_1 h1:before {
  position: absolute;
  content: '';
  width: 6px;
  height: 100%;
  background-color: #ba0000;
  top: 0;
  left: 0;
}

#h_1 h3 {
  font-weight: bold;
  padding: 22px 0px;
}

#h_1 p {
  line-height: 25px;
  color: #757171;
  font-size: 15px;
}

#h_1 .btn-xemthem {
  margin: 38px 0px;
}

#h_1 .btn-xemthem a {
  padding: 12px 20px;
  font-size: 14px;
  border: 2px solid #979797;
  color: #1b1e21;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_1 .btn-xemthem a:hover {
  background-color: #ba0000;
  border: 2px solid #ba0000;
  color: white;
}

#h_1 .bull-inst {
  position: relative;
}

#h_1 .bull-inst:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 96%;
  border: 14px solid #b8b7b7;
  bottom: 10px;
  left: 0;
  z-index: 0;
}

#h_1 img {
  position: relative;
  z-index: 6;
}

#h_2 .left {
  padding: 38px 0px;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#h_2 .left .dich-vu {
  width: 90%;
  margin: auto;
  text-align: center;
  background-color: white;
  margin-bottom: 20px;
  border-top: 3px solid #ba0000;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_2 .left .dich-vu:hover {
  background-color: #ba0000;
  border-top: 3px solid #1b1e21;
}

#h_2 .left .dich-vu:hover i {
  color: white;
}

#h_2 .left .dich-vu:hover h5 {
  color: white;
}

#h_2 .left .dich-vu:hover p {
  color: white;
}

#h_2 .left .dich-vu:hover .btn-chitiet {
  opacity: 1;
}

#h_2 .left .dich-vu i {
  padding: 20px 0px;
  font-size: 38px;
  color: #ba0000;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_2 .left .dich-vu h5 {
  font-size: 14px;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_2 .left .dich-vu p {
  margin: 16px 0px;
  font-size: 14px;
  padding: 0px 10px;
  line-height: 18px;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_2 .left .dich-vu .btn-chitiet {
  padding-bottom: 68px;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_2 .left .dich-vu .btn-chitiet a {
  font-size: 14px;
  padding: 8px 20px;
  background-color: #1b1e21;
  color: white;
  border-radius: 3px;
}

#h_2 .right {
  padding: 38px 30px;
  background-color: #1b1e21;
}

#h_2 .right .ol-h4 {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 18px;
}

#h_2 .right .ol-h4:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 120%;
  border: 6px solid rgba(255, 255, 255, 0.3);
  top: -28px;
  left: 38px;
  z-index: 0;
}

#h_2 .right .ol-h4 h4 {
  margin-top: 28px;
  color: white;
  font-size: 28px;
  position: relative;
  z-index: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
}

#h_2 .right span {
  color: yellow;
}

#h_2 .right p {
  font-size: 17px;
  color: white;
  line-height: 20px;
}

#h_2 .right .under-line {
  margin-top: 38px;
  margin-bottom: 38px;
  border-bottom: 2px solid yellow;
}

#h_2 .right .btn-chitiet {
  text-align: right;
}

#h_2 .right .btn-chitiet a {
  background-color: yellow;
  color: #1b1e21;
  font-weight: bold;
  font-size: 14px;
  padding: 8px 15px 7px 15px;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 3px;
}

#h_2 .right .btn-chitiet a:hover {
  background-color: white;
  color: red;
}

#h_3 {
  padding: 38px 0px;
}

#h_3 .left .ol-h4 {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 18px;
}

#h_3 .left .ol-h4:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border: 6px solid rgba(0, 0, 0, 0.3);
  top: -18px;
  left: 38px;
  z-index: 0;
}

#h_3 .left .ol-h4 h4 {
  margin-top: 28px;
  color: #302f2f;
  line-height: 38px;
  font-size: 28px;
  position: relative;
  z-index: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bolder;
}

#h_3 .left span {
  color: #ba0000;
  font-weight: bolder;
  font-size: 16px;
}

#h_3 .left ul {
  padding: 38px 0px;
  list-style-type: none;
}

#h_3 .left ul li button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 0px;
  color: #6f6f6f;
}

#h_3 .right .items-overlay {
  width: 100%;
  max-width: 300px;
  margin: auto;
  height: 300px;
  padding: 10px;
}

#h_3 .right .items-overlay .items {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px;
  position: relative;
}

#h_3 .right .items-overlay .items .content {
  border: 2px solid #ba0000;
  width: 100%;
  height: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  text-align: center;
}

#h_3 .right .items-overlay .items .content:hover {
  background-color: rgba(255, 0, 0, 0.8);
}

#h_3 .right .items-overlay .items .content:hover h5 {
  opacity: 1;
  padding-top: 0px;
}

#h_3 .right .items-overlay .items .content:hover p {
  opacity: 1;
  padding-top: 0px;
}

#h_3 .right .items-overlay .items .content:hover .btn-chitiet {
  padding-top: 20px;
}

#h_3 .right .items-overlay .items .content:hover .btn-chitiet a {
  opacity: 1;
}

#h_3 .right .items-overlay .items .content h5 {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  -webkit-transition: .3s;
  transition: .3s;
  padding-top: 10px;
  opacity: 0;
}

#h_3 .right .items-overlay .items .content p {
  padding: 0px 10px;
  line-height: 20px;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
  padding-top: 10px;
  opacity: 0;
  font-size: 14px;
}

#h_3 .right .items-overlay .items .content .btn-chitiet {
  padding-top: 30px;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_3 .right .items-overlay .items .content .btn-chitiet a {
  font-size: 14px;
  padding: 6px 20px;
  border-radius: 3px;
  background-color: #1b1e21;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

#h_4 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 38px 0px;
  background-attachment: fixed;
}

#h_4 h5 {
  font-size: 32px;
  line-height: 42px;
  color: white;
  font-weight: bolder;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: auto;
  padding: 20px;
  position: relative;
}

#h_4 h5:after {
  content: '';
  position: absolute;
  top: -16px;
  left: 50%;
  width: 130px;
  height: 80%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 8px solid rgba(255, 255, 255, 0.3);
}

#h_4 span {
  font-size: 16px;
  color: red;
  font-weight: bold;
}

#h_4 p {
  width: 90%;
  margin: auto;
  color: white;
  line-height: 22px;
  margin-top: 30px;
  margin-bottom: 38px;
}

#h_4 .btn-call {
  background-color: #ba0000;
  width: 218px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  padding: 10px 0px;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_4 .btn-call:hover {
  background-color: #1b1e21;
}

#h_4 .btn-call a {
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding: 6px 0px;
}

#h_5 {
  padding: 38px 0px;
}

#h_5 h5 {
  font-size: 32px;
  line-height: 42px;
  color: #1b1e21;
  font-weight: bolder;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: auto;
  padding: 20px;
  position: relative;
  z-index: 3;
}

#h_5 h5:after {
  content: '';
  position: absolute;
  top: -16px;
  left: 50%;
  width: 186px;
  height: 80%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 8px solid rgba(0, 0, 0, 0.3);
  z-index: 0;
}

#h_5 span {
  font-size: 16px;
  color: red;
  font-weight: bold;
}

#h_5 .news {
  border: 1px solid #b7b7b7;
}

#h_5 .news .img-overlay {
  width: 100%;
  height: 186px;
  overflow: hidden;
}

#h_5 .news .img-overlay .img {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_5 .news .img-overlay .img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#h_5 .news a {
  color: #1b1e21;
}

#h_5 .news h4 {
  font-size: 17px;
  font-weight: bold;
  padding: 14px 16px;
  min-height: 68px;
  max-height: 68px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

#h_5 .news span {
  font-size: 14px !important;
  color: red;
  font-weight: bold;
}

#h_5 .news p {
  line-height: 20px;
  padding: 10px 0px;
}

#h_5 .btn-tintuc a {
  padding: 8px 20px;
  background-color: #ba0000;
  color: white;
  font-size: 14px;
}

#footer h4 {
  font-size: 22px;
  color: #ffffff;
  font-family: 'Mitr', sans-serif;
  padding-bottom: 8px;
}

#footer p {
  font-size: 18px;
  color: #ffffff;
}

#footer .save-money {
  background-color: #ba0000;
  padding: 30px 0px;
}

#footer .save-money a {
  color: white;
  padding: 10px 20px;
  background-color: #1b1e21;
  border: 2px solid #1b1e21;
  font-size: 22px;
  -webkit-transition: .3s;
  transition: .3s;
  font-family: 'Anton', sans-serif;
}

#footer .save-money a:hover {
  background-color: #fff;
  border: 2px solid #fff;
  color: #1b1e21;
}

#footer .middle {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 38px 0px;
}

#footer .middle p {
  color: #e0e0e0;
  font-size: 14px;
  line-height: 20px;
  padding: 15px 0px;
  -webkit-transition: .3s;
  transition: .3s;
}

#footer .middle h5 {
  color: white;
  font-size: 18px;
  padding: 10px 0px;
}

#footer .middle .blog img {
  width: 35%;
  height: auto;
}

#footer .middle .blog a {
  padding-left: 8px;
  line-height: 18px;
  -webkit-transition: .3s;
  transition: .3s;
}

#footer .middle .blog a:hover p {
  color: white;
}

#footer .middle i {
  color: white;
}

#footer .middle h4 {
  font-size: 20px;
  font-family: 'Anton', sans-serif;
  margin-bottom: 16px;
  margin-top: 16px;
}

#footer .middle h4 span {
  color: #e8e8e8;
}

#footer .middle input {
  padding: 6px 12px;
  width: 100%;
}

#footer .middle input:focus {
  outline: none;
}

#footer .middle button {
  margin-top: 16px;
  padding: 10px 16px 9px 16px;
  border: none;
  background-color: #ba0000;
  color: white;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

#footer .middle button:hover {
  background-color: #1b1e21;
}

#footer .copy-right p {
  background-color: #1b1e21;
  color: white;
  font-size: 14px;
  padding: 12px 0px 11px 0px;
}

#banner_title {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 86px 0px;
  position: relative;
  z-index: 1;
}

#banner_title:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
}

#banner_title h5 {
  font-size: 36px;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 1px #000000;
  padding-bottom: 20px;
  position: relative;
  z-index: 3;
}

#banner_title p {
  color: white;
  text-shadow: 0px 0px 0px #000000;
  position: relative;
  z-index: 3;
}

#banner_title p a {
  color: white;
  position: relative;
  padding-right: 20px;
}

#banner_title p a:after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  background-color: transparent;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

#c_1 {
  padding: 86px 0px;
}

#c_1 h4 {
  margin: 20px 0px;
  color: red;
}

#c_1 ul {
  list-style-type: none;
}

#c_1 ul li {
  margin-bottom: 10px;
}

#c_1 ul li i {
  width: 38px;
  text-align: center;
}

#c_1 ul li a {
  color: #1b1e21;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 14px;
}

#c_1 ul li a:hover {
  color: red;
}

#c_1 h5 {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  position: relative;
  margin: 20px 0px;
}

#c_1 h5:before {
  position: absolute;
  content: '';
  width: 68px;
  height: 3px;
  background-color: #ba0000;
  top: 100%;
  left: 0;
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
}

#c_1 h5:after {
  position: absolute;
  content: '';
  width: 38px;
  height: 3px;
  background-color: #1b1e21;
  top: 100%;
  left: 70px;
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
}

#c_1 p {
  line-height: 20px;
  text-indent: 20px;
}

#c_1 .right input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 6px;
}

#c_1 .right textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 6px;
}

#c_1 .right .btn-send {
  padding-top: 30px;
}

#c_1 .right .btn-send a {
  padding: 8px 20px;
  background-color: #ba0000;
  color: white;
  font-size: 14px;
}

#n_1 {
  padding: 38px 0px;
}

#n_1 h5 {
  font-size: 28px;
  line-height: 38px;
  color: #1b1e21;
  font-weight: bolder;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: auto;
  padding: 20px;
  position: relative;
  z-index: 3;
}

#n_1 h5 span {
  position: relative;
  z-index: 10;
  color: #ba0000;
  font-size: 33px !important;
}

#n_1 h5:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 50%;
  width: 186px;
  height: 60%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 8px solid rgba(0, 0, 0, 0.3);
  z-index: 0;
}

#n_1 span {
  font-size: 16px;
  color: red;
  font-weight: bold;
}

#n_1 .news {
  border: 1px solid #b7b7b7;
}

#n_1 .news .img-overlay {
  width: 100%;
  height: 186px;
  overflow: hidden;
}

#n_1 .news .img-overlay .img {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: .3s;
  transition: .3s;
}

#n_1 .news .img-overlay .img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#n_1 .news a {
  color: #1b1e21;
}

#n_1 .news h4 {
  font-size: 17px;
  font-weight: bold;
  padding: 14px 16px;
  min-height: 68px;
  max-height: 68px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

#n_1 .news span {
  font-size: 14px !important;
  color: red;
  font-weight: bold;
}

#n_1 .news p {
  line-height: 20px;
  padding: 10px 0px;
}

#n_1 .btn-tintuc a {
  padding: 8px 20px;
  background-color: #ba0000;
  color: white;
  font-size: 14px;
}

#nd_1 {
  padding: 50px 0px;
}

#nd_1 h1 {
  font-size: 20px;
  font-weight: bold;
  padding: 6px 10px;
}

#nd_1 .date-news {
  background-color: #1b1e21;
  color: white;
  padding: 10px;
  font-size: 13px;
}

#nd_1 p {
  text-indent: 20px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#nd_1 p span {
  font-size: 14px;
}

#nd_1 .right h4 {
  position: relative;
  font-size: 18px;
  font-weight: bold;
}

#nd_1 .right h4:after {
  position: absolute;
  content: '';
  bottom: -6px;
  left: 0;
  width: 68px;
  height: 3px;
  background-color: #ba0000;
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
}

#nd_1 .right h4:before {
  position: absolute;
  content: '';
  bottom: -6px;
  left: 70px;
  width: 46px;
  height: 3px;
  background-color: #1b1e21;
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
}

#nd_1 .right .news {
  margin: 26px 0px;
}

#nd_1 .right .news .img-overlay {
  width: 88px !important;
  height: 68px;
}

#nd_1 .right .news .img-overlay .img {
  width: 88px !important;
  height: 68px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#nd_1 .right .info a {
  color: #666666;
  font-size: 15px;
}

#nd_1 .right .info a h5 {
  margin-bottom: 6px;
}

#nd_1 .right .info span {
  color: #949393;
}

#nd_1 .right .tags a {
  padding: 10px 0px;
  color: #4f4f4f;
  -webkit-transition: .3s;
  transition: .3s;
}

#nd_1 .right .tags a:hover {
  color: #ba0000;
}

#p_1 {
  padding: 68px 0px;
  /* Style the tab */
}

#p_1 .left .ol-h4 {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

#p_1 .left .ol-h4:after {
  position: absolute;
  content: '';
  width: 120%;
  height: 80%;
  border: 6px solid rgba(0, 0, 0, 0.3);
  top: -18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 0;
}

#p_1 .left .ol-h4 h4 {
  color: #302f2f;
  margin: auto;
  line-height: 38px;
  font-size: 28px;
  position: relative;
  z-index: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bolder;
}

#p_1 .left .ol-h4 h4 span {
  color: #ba0000;
  font-weight: bolder;
  font-size: 30px !important;
}

#p_1 .left span {
  color: #ba0000;
  font-weight: bolder;
  font-size: 16px;
}

#p_1 .left ul {
  padding: 38px 0px;
  list-style-type: none;
}

#p_1 .left ul li {
  display: inline-block;
}

#p_1 .left ul li button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 0px;
  color: #6f6f6f;
}

#p_1 .right .items-overlay {
  width: 100%;
  max-width: 300px;
  margin: auto;
  height: 300px;
  padding: 10px;
}

#p_1 .right .items-overlay .items {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px;
  position: relative;
}

#p_1 .right .items-overlay .items .content {
  border: 2px solid #ba0000;
  width: 100%;
  height: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  text-align: center;
}

#p_1 .right .items-overlay .items .content:hover {
  background-color: rgba(255, 0, 0, 0.8);
}

#p_1 .right .items-overlay .items .content:hover h5 {
  opacity: 1;
  padding-top: 0px;
}

#p_1 .right .items-overlay .items .content:hover p {
  opacity: 1;
  padding-top: 0px;
}

#p_1 .right .items-overlay .items .content:hover .btn-chitiet {
  padding-top: 20px;
}

#p_1 .right .items-overlay .items .content:hover .btn-chitiet a {
  opacity: 1;
}

#p_1 .right .items-overlay .items .content h5 {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  -webkit-transition: .3s;
  transition: .3s;
  padding-top: 10px;
  opacity: 0;
}

#p_1 .right .items-overlay .items .content p {
  padding: 0px 10px;
  line-height: 20px;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
  padding-top: 10px;
  opacity: 0;
  font-size: 14px;
}

#p_1 .right .items-overlay .items .content .btn-chitiet {
  padding-top: 30px;
  -webkit-transition: .3s;
  transition: .3s;
}

#p_1 .right .items-overlay .items .content .btn-chitiet a {
  font-size: 14px;
  padding: 6px 20px;
  border-radius: 3px;
  background-color: #1b1e21;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

#p_1 .tab {
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

#p_1 .tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
  color: #7a7a7a;
  border: 1px solid transparent;
}

#p_1 .tab button:hover {
  border: 1px solid #b6b6b6;
}

#p_1 .tab button.active {
  background-color: #1b1e21;
  color: white;
  border: 1px solid #b6b6b6;
}

#p_1 .tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

#s_1 {
  padding-top: 38px;
  padding-bottom: 38px;
}

#s_1 h5 {
  color: #ba0000;
  margin-bottom: 20px;
}

#s_1 ul {
  margin-top: 30px;
  list-style-type: none;
}

#s_1 ul li {
  margin-bottom: 10px;
}

#s_1 ul li a {
  padding-left: 20px;
  color: #1b1e21;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 14px;
  color: #1b1e21;
}

#s_1 ul li a:hover {
  color: #ba0000;
}

#s_1 h1 {
  font-size: 28px;
  font-weight: bold;
  position: relative;
  padding-left: 20px;
}

#s_1 h1 span {
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

#s_1 h1:before {
  position: absolute;
  content: '';
  width: 6px;
  height: 100%;
  background-color: #ba0000;
  top: 0;
  left: 0;
}

#s_1 h3 {
  font-weight: bold;
  padding: 22px 0px;
}

#s_1 p {
  line-height: 25px;
  color: #757171;
  font-size: 15px;
}

#s_1 .btn-xemthem {
  margin: 38px 0px;
}

#s_1 .btn-xemthem a {
  padding: 12px 20px;
  font-size: 14px;
  border: 2px solid #979797;
  color: #1b1e21;
  -webkit-transition: .3s;
  transition: .3s;
}

#s_1 .btn-xemthem a:hover {
  background-color: #ba0000;
  border: 2px solid #ba0000;
  color: white;
}

#s_1 .bull-inst {
  position: relative;
}

#s_1 .bull-inst:after {
  position: absolute;
  content: '';
  width: 90%;
  height: 100%;
  border: 14px solid #b8b7b7;
  top: 0;
  left: 0;
  z-index: 0;
}

#s_1 img {
  position: relative;
  z-index: 6;
  width: 80%;
}

#s_2 {
  padding: 38px 0px;
}

#s_2 h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 38px;
  position: relative;
}

#s_2 h4:after {
  position: absolute;
  content: '';
  width: 68px;
  height: 3px;
  background-color: #ba0000;
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
  bottom: -8px;
  left: 0;
}

#s_2 h4:before {
  position: absolute;
  content: '';
  width: 48px;
  height: 3px;
  background-color: #1b1e21;
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
  bottom: -8px;
  left: 70px;
}

#s_2 h4 span {
  color: red;
}

#s_2 .dich-vu {
  width: 96%;
  margin: auto;
  text-align: center;
  background-color: white;
  margin-bottom: 20px;
  border-top: 3px solid #ba0000;
  -webkit-transition: .3s;
  transition: .3s;
}

#s_2 .dich-vu:hover {
  background-color: #ba0000;
  border-top: 3px solid #1b1e21;
}

#s_2 .dich-vu:hover i {
  color: white;
}

#s_2 .dich-vu:hover h5 {
  color: white;
}

#s_2 .dich-vu:hover p {
  color: white;
}

#s_2 .dich-vu:hover .btn-chitiet {
  opacity: 1;
}

#s_2 .dich-vu i {
  padding: 20px 0px;
  font-size: 38px;
  color: #ba0000;
  -webkit-transition: .3s;
  transition: .3s;
  margin-top: 20px;
}

#s_2 .dich-vu h5 {
  font-size: 14px;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

#s_2 .dich-vu p {
  margin: 16px 0px;
  font-size: 14px;
  padding: 0px 10px;
  line-height: 18px;
  -webkit-transition: .3s;
  transition: .3s;
}

#s_2 .dich-vu .btn-chitiet {
  padding-bottom: 68px;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

#s_2 .dich-vu .btn-chitiet a {
  font-size: 14px;
  padding: 8px 20px;
  background-color: #1b1e21;
  color: white;
  border-radius: 3px;
}

.loiph-slider .carousel-control-prev {
  color: #454545;
}

.loiph-slider .carousel-item {
  width: 100%;
  min-height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.loiph-slider .carousel-caption {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.loiph-slider h5 {
  font-size: 46px;
  font-family: 'Lalezar', cursive;
  color: #2a2a2a;
  text-shadow: 0px 0px 3px white;
}

.loiph-slider span {
  font-size: 22px;
  color: #2a2a2a;
  text-shadow: 0px 0px 2px white;
}

.loiph-slider p {
  color: #2a2a2a;
  font-size: 22px;
  padding-top: 13px;
  text-shadow: 0px 0px 3px white;
}

.loiph-slider button {
  margin-top: 20px;
  padding: 15px 18px;
  border: none;
  background-color: #ba0000;
  color: white;
  cursor: pointer;
  -webkit-transition: .8s;
  transition: .8s;
}

.loiph-slider button:hover {
  background-color: #1b1e21;
}

@media only screen and (max-width: 800px) {
  .loiph-slider .carousel-item {
    min-height: 50vh;
  }
}
