#menu {

  box-shadow: 0px 0px 3px #1b1e21;
  .top-info {
    background-color: $main-color;
    color: white;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    i {
      font-size: 13px;
    }
  }

  .logo-menu {
    img.logo {
      width: 286px;
      height: auto;
    }
    .menu-top{
      ul{
        list-style-type: none;
        li{
          display: inline-flex;
          a{
            color: #1b1e21;
            font-size: 15px;
            padding: 10px 16px;
            transition: .3s;
            font-weight: bold;
            &:hover{
              color:$main-color;
            }
          }
          a.active{
            color:$main-color;
          }
        }
      }
    }
  }
}