#h_6{
  padding: 38px 0px;
  h5 {
    font-size: 32px;
    line-height: 42px;
    color: $main-color2;
    font-weight: bolder;
    text-align: center;
    width: fit-content;
    width: auto;
    padding: 20px;
    position: relative;
    z-index: 3;
    &:after {
      content: '';
      position: absolute;
      top: -16px;
      left: 50%;
      width: 186px;
      height: 80%;
      transform: translateX(-50%);
      border: 8px solid rgba(00, 00, 00, 0.3);
      z-index: -10;
    }
  }

  .bao-gia{
    width: 95%;
    margin: auto;
    height: auto;
    transition: .6s;
    margin-bottom: 38px;
    &:hover{
      transform: scale(1.2);
      box-shadow: 0px 0px 5px #1b1e21;
    }
    h4{
      background-color: $main-color2;
      padding: 18px 0px;
      color:white;
    }
  }
  h3{
    font-size: 33px;
    padding: 30px 0px;
    span{
      font-size: 14px;
    }
  }
  p{
    line-height: 22px;
  }

  a{
    font-size: 15px;
    border: none;
    margin: 28px 0px;
    padding:10px 18px;
    background-color: #1b1e21;
    color: white;
    cursor:pointer;
    transition: .6s;
    &:hover{
      background-color: $main-color;
    }
  }
}