#n_1{
  padding: 38px 0px;
  h5 {
    font-size: 28px;
    line-height: 38px;
    color: #1b1e21;
    font-weight: bolder;
    text-align: center;
    width: fit-content;
    width: auto;
    padding: 20px;
    position: relative;
    z-index: 3;
    span{
      position: relative;
      z-index: 10;
      color: $main-color;
      font-size: 33px!important;
    }
    &:after {
      content: '';
      position: absolute;
      top: 10px;
      left: 50%;
      width: 186px;
      height: 60%;
      transform: translateX(-50%);
      border: 8px solid rgba(00, 00, 00, 0.3);
      z-index: 0;
    }
  }

  span {
    font-size: 16px;
    color: red;
    font-weight: bold;
  }

  .news{
    border: 1px solid #b7b7b7;
    .img-overlay{
      width: 100%;
      height: 186px;
      overflow: hidden;
      .img{
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        transition: .3s;
        &:hover{
          transform: scale(1.2);
        }
      }
    }
    a{
      color: #1b1e21;
    }
    h4{
      font-size: 17px;
      font-weight: bold;
      padding: 14px 16px;
      min-height: 68px;
      max-height: 68px;
      overflow:hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }
    span {
      font-size: 14px!important;
      color: red;
      font-weight: bold;
    }
    p{
      line-height: 20px;
      padding: 10px 0px;
    }
  }

  .btn-tintuc{
    a{
      padding: 8px 20px;
      background-color: $main-color;
      color: white;
      font-size: 14px;
    }
  }
}