.loiph-slider {
  .carousel-control-prev {
    color: #454545;
  }
  .carousel-item{
    width: 100%;
    min-height: 80vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }
  h5 {
    font-size: 46px;
    font-family: 'Lalezar', cursive;
    color: #2a2a2a;
    text-shadow: 0px 0px 3px white;
  }
  span {
    font-size: 22px;
    color: #2a2a2a;
    text-shadow: 0px 0px 2px white;
  }
  p {
    color:#2a2a2a;
    font-size: 22px;
    padding-top: 13px;
    text-shadow: 0px 0px 3px white;
  }
  button {
    margin-top: 20px;
    padding: 15px 18px;
    border: none;
    background-color: #2a2a2a;
    color: white;
    cursor: pointer;
    transition: .8s;
    &:hover {
      background-color: $main-color2;
    }
  }
}

@media only screen and (max-width: 800px) {
  .loiph-slider {
    .carousel-item {
      min-height: 50vh;
    }
  }
}
